body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #eaeff8, #88b3dd);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    height: 100vh;
    padding-top: 20px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/gifs/wii-u.gif');
    background-size: cover;
    opacity: .4;
    z-index: -1;
}

.wrapper {
    position: relative;
    z-index: 1;
    padding-right: 0px;
}

h1 {
    color: #ffffff;
    background-color: #4f4faf;
    font-size: 2rem;
    margin: 20px 0;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

h1::before,
h1::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../images/gifs/gameboy.gif');
    background-size: cover;
}

h1::before {
    background-position: center right;
    margin-right: 50px;
}

h1::after {
    background-position: center left;
    margin-left: 50px;
}

.main-container {
    background-color: #ffffff;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #000080;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 2;
}

.navbar {
    background-color: #000080;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mute-button,
.snake-button {
    width: 30px; /* Set the width of the button */
    height: 30px; /* Set the height of the button */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background-size: contain;
}

.mute-button img,
.snake-button img {
    width: 100%; /* Ensure the image fills the button */
    height: auto; /* Maintain aspect ratio */
}

.mute-button {
    right: 20px; /* Adjust the horizontal position */
}

.snake-button {
    left: 20px; /* Adjust the horizontal position */
}

.navbar a {
    text-decoration: none;
}

.navbar .back-button button {
    background-color: transparent; /* Remove any background color */
    background-image: url('../images/gifs/back-arrow.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15; /* Remove any padding */
    margin-bottom: 20; /* Remove any margin */
}

.navbar button {
    background-color: #c7c5eb;
    color: #000;
    border: 1px solid #9898cf;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.navbar button img {
    width: 20px; /* Adjust the size of the back arrow image */
    height: auto;
    vertical-align: middle;
    margin-right: 5px; /* Adjust the spacing between the image and text */
}

.navbar button:hover {
    background-color: #000031;
    color: #ffffff;
}

.content {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}

body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: calc(15% - 20px);
    background-size: contain;
    background-repeat: repeat-y;
    margin-left: 70px;
    margin-right: 70px;
    z-index: 0;
}

body::before {
    left: 0;
    background-image: url('../images/gifs/mario-64-head.gif');
}

body::after {
    right: 0;
    background-image: url('../images/gifs/star.gif');
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 640px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Adjustments for responsiveness */
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 200%;
    }
}

#item-table img {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
}

#item-table td {
    padding-right: 10px;
}

/* Modal Styles */
.modal.theater-mode {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content.theater-content {
    background: radial-gradient(circle at center, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0) 80%), black;
    margin: 5% auto 0 auto;
    padding: 20px;
    border: none;
    width: 80%;
    height: 70%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.carousel-window {
    overflow: hidden;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
    padding: 5px;
}

#item-table img {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.carousel-item img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.table-container {
    position: relative;
}

#addItemModal .modal-content {
    background-color: #fefefe;
    width: 600px; /* Fixed width for the modal */
    height: 150px; /* Reduced height for the modal */
    margin: 10% auto; /* Center the modal */
    padding: 20px;
    border: 1px solid #888;
    overflow-y: auto; /* Enable vertical scrolling */
}

#add-item-button {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #ffffff;
    color: #000080;
    border-color: #000080;
    border: solid;
    border-width: 2px;
    cursor: pointer;
}

#add-item-button:hover {
    background-color: #e1e1fa;
    border-color: #2424a5;
    border: dashed;
    border-width: 2px;
}

/* Styles for the modal */
.modal-content input,
.modal-content select {
    display: block;
    margin-bottom: 10px;
}

.details-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
    color: #000080;
    border-color: #000080;
    border: solid;
    border-width: 2px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.details-button:hover {
    background-color: #e1e1fa;
    border-color: #2424a5;
    border: dashed;
    border-width: 2px;
}

#itemDetailsModal .modal-content {
    background-color: #fefefe;
    width: 600px;
    height: 550px;
    margin: 5% auto;
    margin-top: 150px;
    padding: 20px;
    border: 1px solid #888;
    overflow-y: auto;
}

#itemDetailsModal .modal-content img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}



