body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #f3ceeb, #dbbcaf);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    height: 100vh;
    padding-top: 20px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/gifs/bubbles.gif');
    background-size: cover;
    opacity: .1;
    z-index: -1;
}

.wrapper {
    position: relative;
    z-index: 1;
    padding-right: 0px;
}

h1 {
    color: #ffffff;
    background-color: #e0415b;
    font-size: 2rem;
    margin: 20px 0;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(102, 10, 90, 0.6);
}

h1::before,
h1::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../images/gifs/record.gif');
    background-size: cover;
}

h1::before {
    background-position: center right;
    margin-right: 50px;
}

h1::after {
    background-position: center left;
    margin-left: 50px;
}

.main-container {
    background-color: #ffffff;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #c42c59;
    box-shadow: 0px 0px 10px rgba(102, 10, 90, 0.6);
    position: relative;
    z-index: 2;
}

.navbar {
    background-color:  #c42c59;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
}

.navbar .back-button button {
    background-color: transparent; /* Remove any background color */
    background-image: url('../images/gifs/back-arrow.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15; /* Remove any padding */
    margin-bottom: 20; /* Remove any margin */
}

.navbar button {
    background-color: #cea9a9;
    color: #000;
    border: 1px solid #8a0a30;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #8a0a30;
    color: #ffffff;
}

.content {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}

body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: calc(15% - 20px);
    background-size: contain;
    background-repeat: repeat-y;
    margin: 70px;
    padding: 21px;
    z-index: 0;
}

body::before {
    left: 0;
    background-image: url('../images/gifs/takanaka-guitar.gif');
}

body::after {
    right: 0;
    background-image: url('../images/gifs/vulfpeck-cory-wong.gif');
}

.mute-button {
    width: 50px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}
