<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Matthew's Collection{% endblock %}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="wrapper">
        <h1>{% block heading %}{% endblock %}</h1>
        <div class="main-container">
            <main class="content">
                {% block content %}{% endblock %}
            </main>
            
            {% block mute_button %}{% endblock %}
        </div>
    </div>
    <script src="js/background-music.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
